* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logo img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid black;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 20px;
}

nav ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
}

nav ul li {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
.bars{
  display: none;
  cursor: pointer;
  font-size: 30px;
  margin-top: 35px;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Hidden by default */
    width: 100%;
    margin-top: 25%;
    left: 0;
    text-align: center;
    background-color: rgba(5, 7, 7, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Glass effect with blur */
    position: absolute;
    top: 0; /* Ensure it starts from the top */
    z-index: 10; /* Make sure it's above other content */
  }

  /* Show the menu when 'menu-open' class is added */
  nav ul.menu-open {
    display: block; /* Show the menu when active */
  }

  nav ul li {
    padding: 10% 0px;
    color: white;
  }

  .bars {
    display: block;
    cursor: pointer;
    font-size: 30px;
    margin-top: 35px;
  }
}

/* Tablet or smaller desktop screens */
@media (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    width: 100%;
  }

  .bars {
    display: none; /* Hide the hamburger menu on tablet/desktop */
  }
}
